In [1]:

import re
import pandas as pd
import numpy as np

In [88]:
train = pd.read_csv("udscourse-master/data/wikipedia_train.csv")
test = pd.read_csv("udscourse-master/data/wikipedia_test.csv")

In [26]:
def get_language(page):
    res = re.search('[a-z][a-z].wikipedia.org',page)
    if res:
        return res.group(0)[0:2]
    return 'na'

In [27]:
train.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-08-22,2016-08-23,2016-08-24,2016-08-25,2016-08-26,2016-08-27,2016-08-28,2016-08-29,2016-08-30,2016-08-31
0,15._November_de.wikipedia.org_desktop_all-agents,32.0,26.0,22.0,22.0,29.0,49.0,20.0,27.0,19.0,...,29.0,23.0,31.0,25.0,27.0,23.0,17.0,26.0,23.0,37.0
1,2012_(film)_fr.wikipedia.org_all-access_spider,2.0,3.0,5.0,3.0,5.0,3.0,7.0,8.0,7.0,...,5.0,5.0,6.0,5.0,4.0,11.0,2.0,0.0,7.0,5.0
2,2016_FIFA_U-20女子ワールドカップ_ja.wikipedia.org_all-a...,1.0,3.0,2.0,2.0,1.0,10.0,2.0,1.0,4.0,...,4.0,3.0,2.0,3.0,2.0,4.0,2.0,0.0,5.0,4.0
3,2016_UEFA_Europa_League_Final_en.wikipedia.org...,3.0,3.0,3.0,8.0,12.0,12.0,8.0,12.0,23.0,...,10.0,14.0,26.0,5.0,29.0,23.0,17.0,16.0,12.0,14.0
4,2016_in_video_gaming_en.wikipedia.org_all-acce...,24.0,40.0,23.0,49.0,88.0,25.0,31.0,76.0,51.0,...,134.0,162.0,208.0,179.0,108.0,99.0,49.0,80.0,113.0,173.0

In [37]:
train1=pd.melt(train, id_vars=['Page'], value_vars=train.columns[1:], var_name='date', value_name='Visits');

In [38]:
train1.columns[1:]

Index(['date', 'Visits'], dtype='object')

In [30]:
def pandas_smape(df):
    df.fillna(0, inplace=True)
    df["SMAPE"] = 200 * np.abs(df["Visits"] - df["pred_Visits"]) / (df["Visits"] + df["pred_Visits"])
    df["SMAPE"].fillna(0, inplace=True)
    return np.mean(df["SMAPE"])

In [35]:
train['russian_site']=train["Page"].apply(lambda x: len(re.findall("ru.wikipedia.org",str(x))))

In [46]:
train.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-08-24,2016-08-25,2016-08-26,2016-08-27,2016-08-28,2016-08-29,2016-08-30,2016-08-31,russian_site,sum
0,15._November_de.wikipedia.org_desktop_all-agents,32.0,26.0,22.0,22.0,29.0,49.0,20.0,27.0,19.0,...,31.0,25.0,27.0,23.0,17.0,26.0,23.0,37.0,0,29074.0
1,2012_(film)_fr.wikipedia.org_all-access_spider,2.0,3.0,5.0,3.0,5.0,3.0,7.0,8.0,7.0,...,6.0,5.0,4.0,11.0,2.0,0.0,7.0,5.0,0,2214.0
2,2016_FIFA_U-20女子ワールドカップ_ja.wikipedia.org_all-a...,1.0,3.0,2.0,2.0,1.0,10.0,2.0,1.0,4.0,...,2.0,3.0,2.0,4.0,2.0,0.0,5.0,4.0,0,1348.0
3,2016_UEFA_Europa_League_Final_en.wikipedia.org...,3.0,3.0,3.0,8.0,12.0,12.0,8.0,12.0,23.0,...,26.0,5.0,29.0,23.0,17.0,16.0,12.0,14.0,0,8064.0
4,2016_in_video_gaming_en.wikipedia.org_all-acce...,24.0,40.0,23.0,49.0,88.0,25.0,31.0,76.0,51.0,...,208.0,179.0,108.0,99.0,49.0,80.0,113.0,173.0,0,43151.0

In [45]:
train['sum']=train.drop(['Page'], axis=1).sum(axis=1)

In [58]:
train['mean']=train.drop(['Page'], axis=1).mean(axis=1)

In [65]:
train[train['mean']==58446.92558139535]['Page'].

624    World_War_II_en.wikipedia.org_all-access_all-a...
Name: Page, dtype: object

In [62]:
train['sum'].max()/428

29360.021028037383

In [106]:
test['pred_Visits']=train.mean(axis=1)

In [107]:
test1=pd.melt(test, id_vars=['Page', 'pred_Visits'], value_vars=test.columns[1:-1], var_name='date', value_name='Visits');

In [108]:
train.columns[-33:-3]

Index(['2016-07-30', '2016-07-31', '2016-08-01', '2016-08-02', '2016-08-03',
       '2016-08-04', '2016-08-05', '2016-08-06', '2016-08-07', '2016-08-08',
       '2016-08-09', '2016-08-10', '2016-08-11', '2016-08-12', '2016-08-13',
       '2016-08-14', '2016-08-15', '2016-08-16', '2016-08-17', '2016-08-18',
       '2016-08-19', '2016-08-20', '2016-08-21', '2016-08-22', '2016-08-23',
       '2016-08-24', '2016-08-25', '2016-08-26', '2016-08-27', '2016-08-28'],
      dtype='object')

In [109]:
pandas_smape(test1)

65.9557670523564

In [110]:
test1.head()

,Page,pred_Visits,date,Visits,SMAPE
0,15._November_de.wikipedia.org_desktop_all-agents,67.929907,2016-09-10,43.0,44.947133
1,2012_(film)_fr.wikipedia.org_all-access_spider,5.172897,2016-09-10,6.0,14.805521
2,2016_FIFA_U-20女子ワールドカップ_ja.wikipedia.org_all-a...,3.149533,2016-09-10,4.0,23.790850
3,2016_UEFA_Europa_League_Final_en.wikipedia.org...,18.841121,2016-09-10,15.0,22.700911
4,2016_in_video_gaming_en.wikipedia.org_all-acce...,100.820093,2016-09-10,101.0,0.178284